Grupo5-master/entrega1/entregaPacial.json
[{"id":"458b497a.22d358","type":"tab","label":"Telemetry Flow Entrega","disabled":false,"info":""},{"id":"a45e4566.eac808","type":"serial in","z":"458b497a.22d358","name":"Sensors","serial":"42250a5a.aa6854","x":100,"y":320,"wires":[["37f16188.15dfbe"]]},{"id":"37f16188.15dfbe","type":"function","z":"458b497a.22d358","name":"formatToDictionary","func":"\n\nvar res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\ntempArray = msg.payload.split(\";\");\n\nres.topic = \"sensors\";\nres.payload = {\"Temperature\": {\n    \"Value\": parseInt(tempArray[1]),\n    \"Unit\": tempArray[2]\n},\n\"Sound\": {\n    \"Value\": parseInt(tempArray[4]),\n    \"Unit\": tempArray[5]\n},\n\"Monoxide\": {\n    \"Value\": parseInt(tempArray[7]),\n    \"Unit\": tempArray[8]\n},\n\"Lux\": {\n    \"Value\": parseInt(tempArray[10]),\n    \"Unit\": tempArray[11]\n},\n\"Place\": tempArray[13]\n};\n\nreturn res;\n","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["6e64873b.d4aae8"]]},{"id":"6e64873b.d4aae8","type":"json","z":"458b497a.22d358","name":"","pretty":true,"x":530,"y":320,"wires":[["a0a070.c10e7f9"]]},{"id":"a0a070.c10e7f9","type":"debug","z":"458b497a.22d358","name":"Output","active":true,"console":"true","complete":"payload","x":720,"y":320,"wires":[]},{"id":"42250a5a.aa6854","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100E1CU","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]